$text-color: rgb(255, 255, 255);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$intro-bg-color: rgba(40, 45, 56, .87);
$lazer-gray: #474747;


$level-great-color: rgb(5, 74, 148);
$level-hazardous-color: rgb(245, 107, 0);

$level-great-bubble-color: rgb(0, 183, 255);
$level-hazardous-bubble-color: rgb(210, 64, 0);
